{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
      <div class="post">

        <div class="date-right">
            <p>Last modified on {{ post.last_modify_date|date:'d-b-Y' }} <a class="btn btn-default" href="{% url 'blog.views.post_publish' pk=post.pk %}">Publish</a>
            </p>
        </div>

        <div class="post-title">
          <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>

        </div>

        <div class="post-text">
          <p>{{ post.text|linebreaks }}</p>

        </div>

      </div>
    {% endfor %}
{% endblock %}
